<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>競走馬の馬っけ・ボロ情報の共有 更新履歴</title>
  </head>
  <body>
    <div>
      <h1>更新履歴</h1>
      <div>
        2021/08/11<br>
        とりあえずサービス開始。
      </div>
    </div>
    <%= erb :simple_footer %>
  </body>
</html>
