<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>競走馬の馬っけ・ボロ情報の共有</title>
  </head>
  <body>
    <div>
      <h1>競走馬の馬っけ・ボロ情報の共有</h1>
      仮運用中 総投稿数<%= Post.count %>件
      <h2><a href="/post">投稿</a></h2>
      <h2><a href="/browse">閲覧</a></h2>
    </div>
    <div>
      <a href="/readme">初めての方は読んでね</a><br>
      <a href="/history">更新履歴</a><br>
      <a href="/todo">今後の改修方針</a>
    </div>
    <div>
      <h2>これはなに？</h2>
      <h3>事の発端</h3>
      <blockquote class="twitter-tweet"><p lang="ja" dir="ltr">競馬には「馬っ気」という概念があって、ようは馬が発情してギンギンになっちゃってる状態で、一般的に「馬っ気を見せる馬は集中出来てないので勝てない」って敬遠されがちなんだけど、状態が状態なだけにあんまりデータ化とかもされてなくて実際の勝敗への影響が分かんないのよね。</p>&mdash; 模範的工作員同志/赤野工作 (@KgPravda) <a href="https://twitter.com/KgPravda/status/1424004772382740480?ref_src=twsrc%5Etfw">August 7, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <h3>言い出しっぺの法則</h3>
      <blockquote class="twitter-tweet" data-conversation="none"><p lang="ja" dir="ltr">僕は悪い競馬ファンなので、競馬場に行ってパドックでボロ（脱糞）や馬っけ（勃起）を観察するのを楽しみにしているところもあります。ただこういうファンもそれなりにいそうなので、パドックの馬っけ情報を共有できるようなサービスができないでしょうか。イタズラ情報提供が厳しいか</p>&mdash; アラオ(31) (@89a_rao) <a href="https://twitter.com/89a_rao/status/1424012072250089478?ref_src=twsrc%5Etfw">August 7, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <h3>先行研究？</h3>
      <a href="https://rocketnews24.com/2019/04/19/1198455/" target="_blank">【競馬】パドックでウンコをした馬はスッキリして激走する…のか!? 丸1日かけて徹底的に検証してみたぞ | ロケットニュース24</a><br>
      <h3>要するに？</h3>
      競馬において、レースに出走する馬の馬っけ（勃起）やボロ（脱糞）がレースに与える影響ってよく分からないよね。そもそもデータ化とかってされてるの？出遅れやレース中の不利は過去映像を見れば分かるけど、パドックや返し馬での馬っけやボロは後から確かめる手段はほぼないよね？中継を見ていても映っていない間のことは分からないので、馬っけやボロに興味津々の超絶暇人が1人いたとしても、その全てをカバーするのは無理。<br>
      じゃあみんなでやってみればよくね？というわけで、みんなで馬っけやボロの情報を共有してみよう、というサイトです。馬券の検討に役立つかどうかはもちろん、正確なデータが集まるかどうかも分かりませんが、ゆるく楽しんでいただければと思います。<br>
      2021月8月10日 アラオ(arao99/89a_rao)
    </div>
    <%= erb :footer %>
  </body>
</html>
