<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>競走馬の馬っけ・ボロ情報の共有 ルール</title>
  </head>
  <body>
    <div>
      <h1>ルール</h1>
      <ul>
        <li>軽い気持ちで楽しみましょう</li>
        <li>性質上誤った情報が掲載されてしまうことがありますが、それでもいいという方のみご利用ください</li>
        <li>みなさんの積極的な投稿をお待ちしております</li>
        <li>イタズラ投稿はみんなが困るのでやめてほしいです</li>
        <li>競走馬やそれに関わる人々をけなしたり攻撃するような意図は全くないです</li>
        <li>盛り上がってきたら今後の改修方針に従って開発を進めていくかもしれません</li>
        <li>負荷が高くなってサービスが落ちちゃったらごめんなさい</li>
        <li>個人情報みたいなデリケートな情報の投稿はおやめください</li>
        <li>バグ報告、要望、ご意見ご感想はTwitterかメールでどうぞ</li>
        <li>Twitter: <a href="https://twitter.com/89a_rao" target="_blank">@89a_rao</a></li>
        <li>メール: yusuque.swallows@gmail.com</li>
      </ul>
    </div>
    <%= erb :simple_footer %>
  </body>
</html>
