<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>競走馬の馬っけ・ボロ情報の共有 今後の改修方針</title>
  </head>
  <body>
    <div>
      <h1>今後の改修方針</h1>
      <ul>
        <li>1ページn件まで表示してページ送り、みたいな機能を付けたい（多分最優先）</li>
        <li>出馬表やレース結果へのリンクを作成する（JRA公式の当該ページへのリンクは難しそうなのでnetkeibaとか）</li>
        <li>日付と競馬場とレース番号と馬番から、馬名の自動入力機能を作る</li>
        <li>性別も自動で入ったり閲覧できたりすると良いかも</li>
        <li>牝馬やセン馬も馬っけを出したと登録できちゃうのは良くないよなあ</li>
        <li>日付から競馬場の選択肢を絞れるとちょっと便利っぽい</li>
        <li>距離や条件なんかも勝手にセットされると良さそう（クローラー作る）</li>
        <li>レース情報とかが充実してきたら閲覧の検索機能を作る</li>
        <li>当面は中央競馬だけで</li>
        <li>様子を見ながら仮想マシンのスペックを上げたり上げなかったり</li>
        <li>デザインをイケイケな感じにする（無理そう）</li>
      </ul>
    </div>
    <%= erb :simple_footer %>
  </body>
</html>
